.form-box {

}
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: white;
    border-radius: 20px;
    margin: 0.5em;
    padding: 0.5em;
    gap: 0.5em;
}
.Name_BDay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.Emails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.Addresses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.Phones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.Employment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.Other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}